.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .chart-container {
    max-width: 200px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .chart-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  .chartCard {
    margin-top: 20px;}