/* AboutUsSection.module.css */
.about {
    color: #ecf0f1;
    padding: 80px 0;
    text-align: center;
    margin-top: 4rem;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    color: green;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .description {
    color: aquamarine;
    font-size: 1.2em;
  }
  