.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3498db; /* Blue color */
  }
  
  .chart-container {
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ecf0f1; /* Light gray background */
    padding: 20px;
  }
  
  .table-container {
    max-width: 800px;
    width: 100%;
    background-color: #ecf0f1; /* Light gray background */
    padding: 20px;
  }
  
  .sidebar-container {
    background-color: #ecf0f1; /* Light gray background */
    padding: 20px;
  }
  