.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  /* background-color: red; */
}

.summary {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 16px;
  margin: 16px;
  border: 1px solid black;
}

.summary p {
  margin: 0;
}

.summary h3 {
  font-size: 1  rem;
  margin: 0;
}

.summary ul {
  margin: 0;
}

.filterButton {
  background-color: #3498db; /* Blue color */
  color: #fff; /* White text */
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filterButton:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}

.wallet-summary-content {
  display: flex;
  justify-content: space-between; /* Add space between the value and the icon */
  align-items: center;
  text-align: center;
}

.icon {
  margin-right: 20px; /* Add spacing between the icon and the value */
  font-size: 2rem; /* Set the desired font size */
}