/* Navbar.module.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #299b63;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .btnLoginPopup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
  }
  
  .btnLoginPopup:hover {
    background: #fff;
    color: #162938;
  }
  